body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000000;
  color: #c9d1d9;
}

.App {
  text-align: center;
}

.hero-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.hero-content h1 {
    font-size: 4rem;
    color: white;
}

.hero-content p {
  font-size: 1.5rem;
  color: #8b949e;
}
